/* Styling for page */
html, body {
    padding: 0;
    margin: 0;
  }
  
  input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
  }

  h2, h3 {
    margin: 0 0 .75em 0;
  }
  
  
/* First Example */
.container {
    max-width: 750px;
    margin: 20px auto 0 auto;
    padding: 30px;
    background-color: #FFF;
  }

.form-row {
    padding: 10px;
    display: flex;
}

.form-row label {
    padding-right: 10px;

}
.form-row input {
    flex: 1; /* This allows the boxes to stretch the lentgh of the screen */
}

/* Second Example */
.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.main-column {
    flex: 3; /* twice/three times as long as the sidebars */
    order: 2; /*sets theorder of the columns */
}

.sidebar-one {
    flex: 1;
    order: 1;
}
.sidebar-two {
    flex: 1;
    order: 3;
}

/* Third Example */
.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    
}

.call-out {
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 30%; /* can use this insted of flex: 1; */
}

@media (min-width: 900px) { /* targeting screens 900px or larger */
    /* purpose: when using a smaller screen/mobile the boxes will stack vertically */
    .call-outs-container {
        display: flex;
        align-items: strech; 
        /* flec-start will align to the end of the "words" in the box */
        /* flex-end will make the bottoms of the boxes align */
        /* without "align-items it is as default "stretch" */
        justify-content: space-between;
    }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}

/* Fourth Example */
.fixed-size-container {
    max-width: 1400px;
    margin: 40px auto 40px auto;
    background-color: #FFF;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; /* this will allow the boxes to wrap only when they need to */
}

.fixed-size {
    width: 150px;
    height: 100px;
    background-color: #990b47;
    color: #FFF;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

/* Fifth Example */
.banner {
    max-width: 700px;
    height: 400px;
    background-color: #2a2a2a2a;
    margin: 40px auto 40px auto;
    display: flex;
}

.center-me {
    color: #FFF;
    font-size: 50px;
    margin: auto; /* Flexbox is powerful if margin-auto it will auto on all sides */
}

/* Sixth Example */
.equal-height-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.first {
    background-color: #FFF;
    padding: 20px;
    flex: 1; /* evenly distributes space */
}

.second {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.second-a {
    background-color: #c0dbe2;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.second-b {
    background-color: #94e68d;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}